.profile__name {
  grid-area: name;
  margin: 0;
  font-family: "Inter",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.22;
    overflow: hidden;
  }
}