.popup__button-save {
  background: #000000;
  border: 0;
  border-radius: 2px;
  margin: 18px 0 37px;
  color: white;
  width: 358px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  cursor: pointer;
}

.popup__button-save:hover {
    opacity: 0.8;
    transition: .3s ease-in-out;
}


@media screen and (max-width: 767px) {
  .popup__button-save {
    max-width: 238px;
    font-size: 14px;
    line-height: 1.21;
    margin: 15px auto 25px;
  }
}