.element__item {
    max-width: 282px;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

@media screen and (max-width: 767px) {
    .element__item  {
      margin: 0 auto;
      max-width: 282px;
    }
  }