@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__item/element__item.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__info/element__info.css);
@import url(../blocks/element/__name/element__name.css);
@import url(../blocks/element/__button-like/element__button-like.css);
@import url(../blocks/element/__button-like/_active/element_button-like_active.css);
@import url(../blocks/element/__button-trash/element__button-trash.css);
@import url(../blocks/element/__button-like-container/element__button-like-container.css);
@import url(../blocks/element/__button-like-count/element__button-like-count.css);
@import url(../blocks/element/__button-trash/_disabled/element__button-trash_disabled.css);

@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__body/popup__body.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__form-set/popup__form-set.css);
@import url(../blocks/popup/__form-field/popup__form-field.css);
@import url(../blocks/popup/__input-error/popup__input-error.css);
@import url(../blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(../blocks/popup/__input/_type/popup__input_type_error.css);
@import url(../blocks/popup/__button-save/_disabled/popup__button-save_disabled.css);

@import url(../blocks/popup/_fullscreen/popup_fullscreen.css);
@import url(../blocks/popup/__content-fullscreen/popup__content-fullscreen.css);
@import url(../blocks/popup/__fullscreen-figure/popup__fullscreen-figure.css);
@import url(../blocks/popup/__fullscreen-image/popup__fullscreen-image.css);
@import url(../blocks/popup/__fullscreen-caption/popup__fullscreen-caption.css);